/* App.css */

body {
  background: linear-gradient(135deg, #272f42, #120428, #9333ea);
  /* background: linear-gradient(135deg, #1e3a8a, #6d28d9, #9333ea); */
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1 {
  color: #f5f5f5;
  text-shadow: 0 0 5px #1e1c20, 0 0 10px #0c150a, 0 0 20px #0a0f1d;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.card-container {
  background-color: rgba(0, 0, 0, 0.7); 
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 20px;
  width: 360px;
  margin: 0 auto;
}

img {
  border: 3px solid #9333ea;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.range {
  margin: 10px 0;
}

input[type="range"] {
  width: 100%;
  accent-color: #39ff14; 
}

button {
  background: none;
  border: none;
  color: #39ff14;
  font-size: 1.5rem;
  cursor: pointer;
}

button:hover {
  text-shadow: 0px 0px 10px #39ff14;
}

.music-info {
  color: #fff;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
}

.time-span {
  color: #f5f5f5;
}

.audio-controls svg {
  color: #f5f5f5;
  cursor: pointer;
}

.audio-controls svg:hover {
  color: #39ff14;
  text-shadow: 0px 0px 10px #39ff14;
}
